<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<!-- Inject our content -->
     <ui-view></ui-view>

       </div>
</div>

<!--  be aware that the ruby environment in the assets folder is separate from the rest of the application, and you should only be using sprockets helpers such as image_path or asset_path when mixing javascript and erb. -->
</body>
</html>
